body {
	font-family: cursive;background-color: #000000; color: ghostwhite
}
h1 {
		;text-align: center;	;font-size: 300% ; background-color: #FF4500	;border-radius: 70px
}
.id {
	font-size: 200%; 
}
p {
	font-size: 150%}